div(ng-include="'views/dashboard/appointments/shell-settings.html'")

.container-fluid.avaliable-times
    .row.title
        .col-md-12
            h2
                img.img-thumbnail(profile-img="resource" profile-type="resource" profile-size="small"
                                  style="width: 64px; height: 64px")
                span Avaliable times {{ resource.name }}

    .row.regions
        .col-md-12
            h4 Regions
            div
                .radio(ng-repeat="region in regions")
                    label
                        input(type="radio" name="region" ng-value="region" ng-model="$parent.currentRegion" ng-disabled="isProcessing()")
                        strong {{ region.name }}
                    span.bgColor(ng-style="{ 'background-color': region.bgColor || 'white' }")
                    button.btn.btn-default.btn-xs(type="button" ng-click="editRegion(region)" ng-disabled="isProcessing()")
                        span.glyphicon.glyphicon-pencil
            button.btn.btn-sm.btn-success(type="button" ng-click="addRegion()" ng-disabled="isProcessing()") Add region

    .row.weeks
        .col-md-2
            strong Year
            select.form-control(ng-model="year" ng-options="year as year for year in yearsFilter"
                                ng-change="changeYear()" ng-disabled="isProcessing()")
        .col-md-2
            strong Week
            select.form-control(ng-model="weeknumber" ng-options="week.value as week.text for week in weeksFilter"
                                ng-change="changeWeek()" ng-disabled="isProcessing()")
        .col-md-4
            button.btn.btn-default(type="button" ng-click="selectPrevWeek()" ng-disabled="isProcessing() || disablePrevWeek()") Prev week
            span &nbsp;
            button.btn.btn-default(type="button" ng-click="selectCurrentWeek()" ng-disabled="isProcessing() || disableCurrentWeek()") Current week
            span &nbsp;
            button.btn.btn-default(type="button" ng-click="selectNextWeek()" ng-disabled="isProcessing() || disableNextWeek()") Next week

    .row.filters
        .col-md-12
            h4 Filters
            .pull-left
                select.form-control(ng-model="hourFrom" ng-options="hour as hour for hour in hoursFromFilter"
                                   ng-change="changeHour()" ng-disabled="isProcessing()")
                strong Show from
            .pull-right
                strong Show to
                select.form-control(ng-model="hourTo" ng-options="hour as hour for hour in hoursToFilter"
                                    ng-change="changeHour()" ng-disabled="isProcessing()")

    div(ng-include="'views/common/spinner.html'" ng-show="isProcessing()")
    .row
        .col-md-12
            strong Appointment interval: {{ resource.appointmentInterval }} mins
            table.table.table-hover.table-bordered(ng-class="{ disabled: isProcessing() }")
                thead
                    tr
                        td.day-of-week
                        td.time(ng-repeat="timeCell in timeCells" colspan="{{ timeCell.colspan }}") {{ timeCell.dt | date: 'HH:mm' }}
                tbody
                    tr(ng-repeat="db in blocks")
                        td.day-of-week {{ db.weekdayName }}
                        td.cell(ng-repeat="cell in db.cells" style="background-color: {{ cell.bgColor || 'white' }}" 
                            ng-click="setCellRegion(db, cell)" title="{{ cell.dt | date: 'HH:mm' }}")

    .row
        .col-md-12
            .pull-right
                a.btn.btn-default(href="/appointments/settings/resources/{{ resource._id }}" ng-disabled="isSaving") Cancel
                span &nbsp;
                button.btn.btn-default.btn-warning(type="button" ng-click="clone()"
                                                   ng-disabled="isProcessing()") Apply to all following weeks
                span &nbsp;
                button.btn.btn-default.btn-primary(ng-click="save()" ng-disabled="isProcessing()") Save
