include ./shell.jade

.container-fluid.appointments
    .row.fitlers
        .col-md-6
            h5
                strong Resources
            isteven-multi-select(input-model="resources" output-model="filter.resources" output-properties="_id"
                                 item-label="picElem name" button-label="picElem name" helper-elements="all filter none"
                                 max-labels="5" tick-property="selected" max-height="405px"
                                 on-item-click="changeResourcesFilter()"
                                 on-select-all="changeResourcesFilter()"
                                 on-select-none="changeResourcesFilter()")
        .col-md-6
            h5
                strong Clients
            isteven-multi-select(input-model="clients" output-model="filter.clients" output-properties="_id"
                                 item-label="picElem name" button-label="picElem name" helper-elements="all filter none"
                                 max-labels="5" tick-property="selected" max-height="405px"
                                 on-item-click="changeClientsFilter()"
                                 on-select-all="changeClientsFilter()"
                                 on-select-none="changeClientsFilter()")

    .row
        .col-md-12
            div(ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar="myCalendar")
